<!DOCTYPE html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CO2  Emissions Calculator</title>
    <link rel="stylesheet" href="../static/app.css">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
  </head>

  <body>
    <div class="ribbon">
      <h1>CO2  Emissions Calculator</h1>
    </div>
    <!--Get starting point-->
    <form action='/app' method='POST'>
        <div class="entry-wrap">
          <label for="starting-point">Starting Point</label>
          <input type="text" name="starting-point" placeholder="Berlin">
        </div>
        <div class="entry-wrap">
          <label for="destination">Destination</label>
          <input type="text" name="destination" placeholder="Hamburg"><br>
        </div>
      <label for="mpg">Transport Method</label>
        <select id="mpg" name="mpg"><br>
           <option value="142">small-diesel-car</option>
           <option value="154">small-petrol-car</option>
           <option value="73">small-plugin-hybrid-car</option>
           <option value="50">small-electric-car</option>
           <option value="171">medium-diesel-car</option>
           <option value="192">medium-petrol-carr</option>
           <option value="110">medium-plugin-hybrid-car</option>
           <option value="58">medium-electric-car</option>
           <option value="209">large-diesel-car</option>
           <option value="282">large-petrol-car</option>
           <option value="126">large-plugin-hybrid-car</option>
           <option value="73">large-electric-car</option>
           <option value="27">Bus</option>
           <option value="6">Train</option>
       </select>
         <input type="submit" value="Submit">
    </form>
  </body>
</html>
