<!DOCTYPE html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CO2  Emissions Calculator</title>
    <link rel="stylesheet" href="../static/main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </head>

  <body>
    <div class="title">
      <h1 align="center">CO2 Emissions Calculator</h1>
    </div>
    <div class="logo">
      <img src="../static/images/logo.svg" alt="logo">
    </div>

    <div class="rounded">
      <a href="app.html">Go</a>
    </div>

    <div class="about">
      <h2 align="center">About</h2>
      <h3 align="center">This CO2 emission travel calculator that can calculate the emissions a vehicle will produce 
            when commuting to specific destinations, In addition to providing information on the emissions of a specific trip, 
            the calculator will also tell you the carbon footprint of your trip and the damage your trip can cause to you and the environment. 
            Users can find out the amount of time a tree will need to absorb the CO2 emissions from a specified trip.</h3>
    </div>
  </body>
</html>
